.button {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
}

.button--primary-color {
  margin-left: 20%;
  margin-right: -25px;
  background-color: #ffed00;
  min-width: 280px;
  height: 58px;
  border-radius: 10px 0 0 10px;
  color: #333333;

  &:hover {
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @include desktop {
    margin: 0 auto;
    max-width: 450px;
    border-radius: 20px;
  }
}

.button--secondary-color {
  background-color: #ff5959;
  margin-right: 20%;
  margin-left: -25px;
  min-width: 280px;
  height: 58px;
  border-radius: 0 10px 10px 0;
  margin-top: 40px;
  color: #ffffff;

  &:hover {
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @include desktop {
    margin: 50px auto;
    max-width: 450px;
    border-radius: 20px;
  }
}

.button__lady {
  margin: 20px 0 0 -26px;
  padding: 16px 10px;
  min-width: 300px;

  @include desktop {
    margin: 10px auto;
  }
}
