.footer {
  background-color: rgba(255, 233, 184, 1);
  padding: 20px 40px;

  @include desktop {
    padding: 50px 80px;
  }
}

.footer__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  width: 100%;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @include desktop {
    max-width: 350px;
  }
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
}

.footer__wrapper {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}
