.header {
  position: relative;
  max-height: 42px;
  display: flex;
  justify-content: end;
  padding: 0 16px;

  @include desktop {
    justify-content: center;
  }
}

.header__nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  @include desktop {
    position: relative;
  }
}

.header__button {
  display: block;
  background-color: transparent;
  padding: 10px;

  @include desktop {
    display: none;
  }
}
