.hero {
  padding: 8px 25px;

  &--with-photo {
    padding-top: 300px;
    padding-bottom: 0;
  }

  &--portfolio {
    padding-bottom: 0;
  }

  &--changes {
    padding-top: 40px;
  }

  @include desktop {
    padding: 58px 140px 100px;

    &--intro {
      padding: 60px 178px 96px;
    }

    &--for-you {
      padding: 22px 170px 36px;
    }

    &--advantages {
      padding: 48px 50px 100px;
    }

    &--author {
      padding: 58px 140px 50px;
    }

    &--portfolio {
      padding: 50px 0 20px;
    }

    &--changes {
      padding-top: 58px 40px 10px;
    }

    &--price {
      padding: 60px 100px 10px;
    }
  }
}

.hero__tittle {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: normal;

  &--price {
    margin-bottom: 5px;
  }

  &--author {
    margin-bottom: 5px;
  }

  &--slider {
    text-align: end;
    margin-bottom: 30px;
    margin-top: -38px;
    margin-left: 100px;
    padding-right: 20px;
    position: relative;
  }

  @include desktop {
    text-align: center;

    &--changes {
      width: 516px;
      margin: 0 auto;
    }
  }
}

.hero__text {
  margin: 20px 0;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   background-image: url("../img/pensils.png");
  //   width: 234px;
  //   height: 248px;
  //   bottom: 90px;
  //   left: 50%;
  //   transform: translateX(-50%);

  //   @include background-img;

  //   @include desktop {
  //     display: none;
  //   }
  // }

  &--with-photo {
    margin-bottom: 290px;

    @include desktop {
      text-align: center;
      margin-bottom: 54px;
    }
  }
}

.hero__list {
  list-style-type: none;
  padding-left: 30px;

  &--ordered {
    counter-reset: changes-list;
  }

  @include desktop {
    margin: 0;
    padding: 30px 0 0 50px;

    &--author {
      padding: 30px 0 0 356px;
    }

    &--price {
      display: flex;
      justify-content: start;
      gap: 32%;
      margin-bottom: 80px;
    }
  }
}

.hero__item {
  margin-bottom: 30px;
  position: relative;

  &--marker::before {
    content: "";
    position: absolute;
    color: #333333;
    width: 10px;
    height: 7px;
    background-color: rgba(143, 216, 248, 1);
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.5) solid 1px;
    left: -28px;
    top: 8px;
  }

  &--check::before {
    content: "";
    position: absolute;

    @include background-img;

    width: 30px;
    height: 30px;
    background-image: url("../img/icon/marker.svg");
    left: -40px;
    top: -3px;

    @include desktop {
      top: 0;
    }
  }

  &--heart::before {
    content: "";
    position: absolute;

    @include background-img;

    width: 50px;
    height: 50px;
    background-image: url("../img/icon/heart.svg");
    left: -40px;
    top: -3px;

    @include desktop {
      left: 50%;
      transform: translateX(-50%);
      top: 60%;
    }
  }

  @include desktop {
    &--heart {
      display: block;
      border-radius: 20px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      max-width: 300px;
      min-height: 200px;
      padding: 40px;
      text-align: center;
    }

    &--arr-down::after {
      @include background-img;
      background-image: url("../img/icon/arr-black2-price-1.svg");
      position: absolute;
      content: "";
      width: 150px;
      height: 110px;
      top: 96%;
    }

    &--arr-left::after {
      position: absolute;
      content: "";
      width: 150px;
      height: 110px;
      background-image: url("../img/icon/arr-black2-price.svg");

      @include background-img;
      top: 58%;
      left: -41%;
    }

    &--arr-right::after {
      position: absolute;
      content: "";
      width: 150px;
      height: 110px;
      background-image: url("../img/icon/arr-black2-price-2.svg");

      @include background-img;
      left: 95%;
    }
  }
}

.hero__item--ordered::before {
  display: block;
  position: absolute;
  color: #333333;
  counter-increment: changes-list;
  content: counter(changes-list) ". ";
  font-size: inherit;
  line-height: inherit;
  left: -30px;
  font-weight: bold;
}

.hero__price {
  display: block;
  font-weight: bold;
  font-size: 18px;

  @include desktop {
    margin-top: 20px;
  }
}

.hero__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  justify-content: center;
}

.hero__item--lady {
  margin: 30px 0 0 30px;

  @include desktop {
    margin: 5% 20%;
    min-width: 352px;
  }
}
