.main {
  flex-grow: 1;
  //padding: 0 22px;

  &--policy {
    padding: 0 12px;
    margin: 20px 0;
  }
}

.main__title {
  line-height: normal;
}

.main__intro {
  background-image: url("../img/intro-back.svg");
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #ffe9b8;

  @include desktop {
    background-image: url("../img/intro-back-desktop.png");
    width: 100%;
    height: 665px;

    @include resolution {
      background-image: url("../img/intro-back-desktop@2x.png");
    }
  }
}

.main__intro-img {
  margin: 0 auto;
  display: block;
  margin-top: 10px;

  @include desktop {
    min-height: 550px;
    min-width: 594px;
  }
}

.main__intro-content {
  margin: 5px 0;
  text-align: center;
  font-weight: 700;

  @include desktop {
    margin: 30px 0;
  }
}

.main__hero {
  margin-bottom: 40px;
  position: relative;

  @include desktop {
    margin: 0 auto;
  }
}

.main__for-you {
  background-color: #ffe9b8;
  position: relative;

  @include desktop {
    &::before {
      content: "";
      position: absolute;
      width: 244px;
      height: 228px;
      background-image: url("../img/like-desktop.png");
      top: -70px;
      right: 60px;

      @include background-img;
    }
  }
}

.main__advantages {
  position: relative;

  &::before {
    @include background-img;

    content: "";
    position: absolute;
    width: 238px;
    height: 238px;
    background-image: url("../img/like.png");
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    @include desktop {
      display: none;
    }
  }
}

.columns-2 {
  @include desktop {
    column-count: 2;
    column-gap: 70px;
  }
}

.main__author {
  position: relative;
}

.main__author-img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  @include desktop {
    position: absolute;
    top: -60px;
    left: 60px;
  }
}

.main__author--wrapper {
  background-color: #ffed00;
}

.main__portfolio {
  @include desktop {
    padding: 58px 80px 70px;
  }
}

.main__portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 135px);
  gap: 20px 30px;
  margin: 0 8px;

  @include desktop {
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 30px;
    gap: 30px;
  }
}

.main__changes {
  background-color: #ffe49e;
  margin-top: 30px;

  @include desktop {
    margin: 0;
  }
}

.main__price {
  position: relative;
  margin-bottom: 50px;

  // &::before {
  //   @include background-img;

  //   // content: "";
  //   // position: absolute;
  //   // width: 240px;
  //   // height: 240px;
  //   // background-image: url("../img/sketchbook.png");
  //   // top: 40px;
  //   // left: 50%;
  //   // transform: translateX(-50%);

  //   @include desktop {
  //     display: none;
  //   }
  // }
}

.main__price-info {
  font-size: 21px;
  font-weight: bold;
  margin-top: 5px;
  color: #ff5959;

  @include desktop {
    text-align: center;
    margin-top: 10px;
  }
}

.main__author-link {
  font-family: inherit;
  cursor: pointer;
  color: #ff5959;
  margin: 5px 0 30px;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;

  @include desktop {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.main__portfolio-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    box-shadow: 8px 8px 12px #808080;
  }

  @include desktop {
    width: 320px;
    height: 400px;

    &--none {
      display: none;
    }

    &:hover {
      width: 294px;
      height: 380px;
      margin: 10px 13px;
    }
  }
}

.main__content {
  padding: 0 12px;
}

.main__galery {
  padding: 0 25px;
}
