.slider__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider__img-wrapper {
  width: 100%;
  // padding: 0 50px;
  margin: 0 auto;
}

.slider__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5 all;
  margin: 0 auto;
  gap: 0 5%;

  transform: translateX(272%);

  @include desktop {
    transform: translateX(128%);
  }
}

.slider__img {
  display: block;
  margin: 0 auto;

  &--hidden {
    display: none;
  }

  @include desktop {
    &--hidden {
      display: block;
    }

    width: 320px;
    height: 430px;
  }
}
