@font-face {
  font-family: "Andika";
  font-style: normal;
  font-weight: 400;
  src: url("../Andika-Regular.woff2")  format("woff2"), url("../Andika-Regular.woff2")  format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Andika";
  font-style: normal;
  font-weight: 700;
  src: url("../Andika-Bold.woff2")  format("woff2"), url("../Andika-Bold.woff")  format("woff");
  font-display: swap;
}
