.hero {
  padding: 8px 25px 8px;

  &--with-photo {
    padding-top: 300px;
    padding-bottom: 0;
  }

  @include desktop {
    padding: 58px 140px 100px;

    &--intro {
      padding: 60px 178px 96px;
    }

    &--for-you {
      padding: 22px 170px 36px;
    }

    &--advantages {
      padding: 48px 50px 100px;
    }

    &--author {
      padding: 58px 140px 50px;
    }

    &--portfolio {
      padding: 50px 0 20px;
    }

    &--price {
      padding: 60px 100px 10px;
    }
  }
}

.hero__tittle {
  margin: 30px 0;

  &--price {
    margin-bottom: 5px;
  }

  &--author {
    margin-bottom: 5px;
  }

  @include desktop {
    text-align: center;
  }
}

.hero__text {
  margin: 20px 0;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/pensils.png");
    width: 234px;
    height: 248px;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);

    @include background-img;

    @include desktop {
      display: none;
    }
  }

  &--with-photo {
    margin-bottom: 290px;

    @include desktop {
      text-align: center;
      margin-bottom: 54px;
    }
  }
}

.hero__list {
  list-style-type: none;

  &--ordered {
    counter-reset: changes-list;
  }

  @include desktop {
    margin: 0;
    padding: 30px 0 0 50px;

    &--author {
      padding: 30px 0 0 208px;
    }

    &--price {
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
    }
  }
}

.hero__item {
  margin-bottom: 30px;
  position: relative;

  &--marker::before {
    content: "";
    position: absolute;
    color: #333;
    width: 10px;
    height: 10px;
    background-color: #43EFFA;
    border-radius: 50%;
    border: #333 solid 1px;
    left: -28px;
    top: 5px;
  }

  &--check::before {
    content: "";
    position: absolute;

    @include background-img;

    width: 30px;
    height: 30px;
    background-image: url("../img/icon/marker.svg");
    left: -40px;
    top: -3px;

    @include desktop {
      top: 0px;
    }
  }

  &--heart::before {
    content: "";
    position: absolute;

    @include background-img;

    width: 50px;
    height: 50px;
    background-image: url("../img/icon/heart.svg");
    left: -40px;
    top: -3px;

    @include desktop {
      left: 50%;
      transform: translateX(-50%);
      top: 60%;
    }
  }

  @include desktop {
    &--heart {
      display: block;
      border-radius: 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      max-width: 300px;
      min-height: 200px;
      padding: 40px;
      text-align: center;
    }
  }
}

.hero__item--ordered::before {
  display: block;
  position: absolute;
  color: #333;
  counter-increment: changes-list;
  content: counter(changes-list) ". ";
  font-size: inherit;
  line-height: inherit;
  left: -30px;
  font-weight: bold;
}

.hero__price {
  display: block;
  font-weight: bold;
  font-size: 18px;

  @include desktop {
    margin-top: 20px;
  }
}
